<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pet Information</title>
</head>
<body>
  <h1>Hi {{ username }}, here's some information about your pet {{ pet_name }}:</h1>
  <p>Age: {{ pet_age }}</p>
  <p>Time Elapsed: {{ time_elapsed }}</p>
  <p><a href="/logout">Logout</a></p>
  



  <script>
    function updateData() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          
          var response = JSON.parse(this.responseText);
          document.querySelector('h1').innerHTML = `Hi ${response.username}, here's some information about your pet ${response.pet_name}:`;
          document.querySelector('p:nth-child(2)').innerHTML = `Age: ${response.pet_age}`;
          document.querySelector('p:nth-child(3)').innerHTML = `Time Elapsed: ${response.time_elapsed}`;
        }
      };
      xhttp.open("GET", "update_data", true);
      xhttp.send();
    }
    setInterval(updateData, 1000);
  </script>
</body>
</html>